//Colores

//Grid
num_col = 12

*
	box-sizing border-box


.container
	width 1000px
	margin-left auto
	margin-right auto
	.row
		//background #eee
		overflow auto
		margin 0 -10px
		.col
			float left
			min-height 1px
			padding 0 10px
		for row in 1 .. num_col
			.s{row}
				value = (100/(num_col/row))
				tam = (ceil(value, 8))
				width (tam - 0.00000001)%


//General
.text-center
	text-align center
.text-right
	text-align right

h3
	font-weight bold 
h2
	font-weight 900
	font-size 2.5em

//Specific Styles





.slider
	background #eee
	.important-link
		color aqua
	.points
		margin 0
		padding 0
		display inline-block
		float right
		

		li
			//color white
			position relative
			vertical-align text-top
			display inline-block
			margin 0 2em
			font-size .8em
			&::before
				content "○"
				font-size 2.5em
				position absolute
				left -.8em
				z-index 2

nav
	ul
		margin 1em 0
		padding 0
		//overflow auto
		li
			display inline-block
			margin .2em
			position relative
			a
				text-decoration none
				font-weight bold
				color black
				font-size .8em
				padding .5em .6em
				&.active
					background #aaaffc
			/*
			&::after
				display block
				position absolute
				content " "
				z-index 3
				border-top: 10px solid yellow;
				border-right: 10px solid red;
				border-bottom: 10px solid green;
				border-left: 10px solid blue;*/


.wrapper-read-more
	text-align right
	padding 0 1em
	.read-more
		text-decoration none
		color #41ae4d
		font-size .8em
		&::before
			background-image: url("because-i-havent-the-font.png")
			background-size: 16px;
			display: inline-block;
			width: 16px;
			height: 16px;
			content:"";
			margin-right .5em
		&::after
			content "..."
.special-text
	font-size 1.5em
	font-weight bold

.simbol-mq::before
	content ">"

.concepts
	padding 1em
	&.special
		background #aaaffc
	.min-detalis
		font-size .8em
		margin 0
	h4
		font-weight 900
		font-size 1.2em
		margin-top .2em
		margin-bottom .4em
	.description
		font-size .9em
		margin-top .2em
.btn-big
	display block
	text-decoration none
	padding 1.5em 2em
	font-size 1.5em
	border-radius 2px
	text-align center
	color white
	font-weight bold

.wrapper-btn-continue
	clear both
	.btn-continue
		margin 1.2em 0
		background #aaaffc
		padding .7em 2.6em
		font-size 1em
		border-radius 2.5em
		font-weight 900
		color black
		text-decoration none
		display inline-block


.text-grow
	font-size 1.6em
	font-weight initial


.prev-footer
	background #222
	color #b2b2b2
footer
	background #333333
	color #fff



.top-links
	a
		color white
		text-decoration none
		font-size .9em

.branding-zone
	font-size .9em

	
.top-links, .btn-big
	background linear-gradient(180deg, #ffd483, #d1a247)
.branding-zone, .middle-text
	background linear-gradient(#e2e2e3, #fdfdfd, #e2e2e3)
	
.middle-text
	h3
		font-weight 100

.terms
	font-size .7em
	font-weight bolder

article > p
	font-size .9em
	

.hr-blue-light::before
	content ""
	height 3px
	width 50px
	background blue
	
//.hr-green


