* {
  box-sizing: border-box;
}
.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.container .row {
  overflow: auto;
  margin: 0 -10px;
}
.container .row .col {
  float: left;
  min-height: 1px;
  padding: 0 10px;
}
.container .row .s1 {
  width: 8.333333329999999%;
}
.container .row .s2 {
  width: 16.66666666%;
}
.container .row .s3 {
  width: 24.99999999%;
}
.container .row .s4 {
  width: 33.33333333%;
}
.container .row .s5 {
  width: 41.66666666%;
}
.container .row .s6 {
  width: 49.99999999%;
}
.container .row .s7 {
  width: 58.33333333%;
}
.container .row .s8 {
  width: 66.66666666%;
}
.container .row .s9 {
  width: 74.99999999%;
}
.container .row .s10 {
  width: 83.33333333%;
}
.container .row .s11 {
  width: 91.66666666%;
}
.container .row .s12 {
  width: 99.99999999%;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
h3 {
  font-weight: bold;
}
h2 {
  font-weight: 900;
  font-size: 2.5em;
}
.slider {
  background: #eee;
}
.slider .important-link {
  color: #0ff;
}
.slider .points {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
}
.slider .points li {
  position: relative;
  vertical-align: text-top;
  display: inline-block;
  margin: 0 2em;
  font-size: 0.8em;
}
.slider .points li::before {
  content: "○";
  font-size: 2.5em;
  position: absolute;
  left: -0.8em;
  z-index: 2;
}
nav ul {
  margin: 1em 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
  margin: 0.2em;
  position: relative;
/*
			&::after
				display block
				position absolute
				content " "
				z-index 3
				border-top: 10px solid yellow;
				border-right: 10px solid red;
				border-bottom: 10px solid green;
				border-left: 10px solid blue;*/
}
nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  font-size: 0.8em;
  padding: 0.5em 0.6em;
}
nav ul li a.active {
  background: #aaaffc;
}
.wrapper-read-more {
  text-align: right;
  padding: 0 1em;
}
.wrapper-read-more .read-more {
  text-decoration: none;
  color: #41ae4d;
  font-size: 0.8em;
}
.wrapper-read-more .read-more::before {
  background-image: url("because-i-havent-the-font.png");
  background-size: 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  content: "";
  margin-right: 0.5em;
}
.wrapper-read-more .read-more::after {
  content: "...";
}
.special-text {
  font-size: 1.5em;
  font-weight: bold;
}
.simbol-mq::before {
  content: ">";
}
.concepts {
  padding: 1em;
}
.concepts.special {
  background: #aaaffc;
}
.concepts .min-detalis {
  font-size: 0.8em;
  margin: 0;
}
.concepts h4 {
  font-weight: 900;
  font-size: 1.2em;
  margin-top: 0.2em;
  margin-bottom: 0.4em;
}
.concepts .description {
  font-size: 0.9em;
  margin-top: 0.2em;
}
.btn-big {
  display: block;
  text-decoration: none;
  padding: 1.5em 2em;
  font-size: 1.5em;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}
.wrapper-btn-continue {
  clear: both;
}
.wrapper-btn-continue .btn-continue {
  margin: 1.2em 0;
  background: #aaaffc;
  padding: 0.7em 2.6em;
  font-size: 1em;
  border-radius: 2.5em;
  font-weight: 900;
  color: #000;
  text-decoration: none;
  display: inline-block;
}
.text-grow {
  font-size: 1.6em;
  font-weight: initial;
}
.prev-footer {
  background: #222;
  color: #b2b2b2;
}
footer {
  background: #333;
  color: #fff;
}
.top-links a {
  color: #fff;
  text-decoration: none;
  font-size: 0.9em;
}
.branding-zone {
  font-size: 0.9em;
}
.top-links,
.btn-big {
  background: linear-gradient(180deg, #ffd483, #d1a247);
}
.branding-zone,
.middle-text {
  background: linear-gradient(#e2e2e3, #fdfdfd, #e2e2e3);
}
.middle-text h3 {
  font-weight: 100;
}
.terms {
  font-size: 0.7em;
  font-weight: bolder;
}
article > p {
  font-size: 0.9em;
}
.hr-blue-light::before {
  content: "";
  height: 3px;
  width: 50px;
  background: #00f;
}
